body {
    font-family: 'Roboto';
    padding: 10px;
}
button {
    padding: 10px;
    border-radius: 5px;
    background: rgba(0, 40, 255, 1);
    color: white;
    font-family: 'Roboto';
}
input {
    width: 200px;
    padding: 20px;
}
hr {
    padding: 10px;
    margin-left: 30px;
}
p {
    font-size: 14pt;
}
.card {
    margin: 20px;
    padding: 30px;
    box-shadow: 1px 1px 3px 2px;
    display: none;
}
.appear {
    display: block;
}
#head {
    position: fixed;
    padding: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0.5));
}